<launch>
    <node pkg="ir2425_group_09" type="nodeB_exploration.py" name="exploration" output="screen"/>
    <node pkg="ir2425_group_09" type="nodeB_navigation.py" name="navigation" output="screen">
        <param name="table_corners/A" value="6.6,-1.6" />
        <param name="table_corners/B" value="7.8,-1.6" />
        <param name="table_corners/C" value="7.8,-3" />
        <param name="table_corners/D" value="6.6,-3" />
    </node>
    <node pkg="ir2425_group_09" type="nodeB_goal_management.py" name="management" output="screen"/>
    <node pkg="ir2425_group_09" type="nodeBapriltag_detection.py" name="detection" output="screen"/>
</launch>